---
import Header from '../components/header.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/footer.astro';
import BlogPost from '../components/BlogPost.astro';
---

<head>
  <title>Shankar's Blog</title>
</head>

<Layout/>



<main>
  <Header/>

  <h1 class="headline-blog-page">Blogg</h1>
  <BlogPost/>

  <Footer/>

</main>
