---
import Header from '../components/header.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/footer.astro';
import Card from '../components/Card.astro';
// import the Image component and the image
import { Image } from 'astro:assets';
import myImage from "../assets/shankar_profile.jpg"; // import profile image
---

<link
    rel="alternate"
    type="application/rss+xml"
    title="Shankar's Personal Site"
    href={new URL("rss.xml", Astro.site)}
/>

<Layout title="Shankar UX">
	<main>

		<Header/>


		<section class="intro">


		
				<div class="intro-headline">
				UI designer passionate about typography and design systems
			   </div>
				<div class="about">
						<p class="about-callout">Hello! I am <em>Shankar</em>, and this is my personal corner on the internet. This website serves as my blog, portfolio and more.</p>

<p>I spend my time on one of these three activities  - hanging out with friends, browsing through type specimens or consuming media (TV or books).</p>

<p style="text-wrap:pretty">Lastly, I'm a <a href="https://linkedin.com/in/shankarux">UI designer at Google</a> working on Gmail. My job doesn't define me as a person, but I'm thankful for what I have. 
	
</p>

<em>Scroll down, there is more stuff down there!</em>
							
				</div>
			

			 

		
		</section>  
		


		<!-- Projects section -->  
		<section class="section-area">
			<!-- Section header -->
			<article>
			<p class="section-title">projects</p>
			</article>  
		   <article class="project-card-group"> 
			<!-- Project cards -->
			<Card
				href="https://yearinbooks.com/"
				img="/project-images/project-year-in-books.png"
				title="Year in Books"
				body="A public bookshelf to track what I am reading. Built using Astro with my own two hands!"
			/>

			<Card
			href="https://mformindful.com"
			img="/project-images/project-mformindful.png"
			title="M for Mindful"
			body="A digital worry stone. This is a website I made for myself and the many others who struggle with mental health issues."
		/>


			<Card
				href="https://blog.google/products/gmail/new-manage-subscriptions-unsubscribe/"
				img="/project-images/project-subscription-manager.png"
				title="Gmail Subscription Manager"
				body="Led the UI design for subscription manager, a Gmail feature that makes it easier to manage your subscriptions from one place."
			/>

			<Card
		href="https://blog.google/products/gmail/new-gmail-summary-cards/"
		img="/project-images/project-summary-cards.png"
		title="Gmail Summary Cards"
		body="Led the design system for modernized, actionable summary cards in Gmail."
	/>

			<Card
			href="https://www.google.com/retail/how-google-merchant-center-works/"
			img="/project-images/project-merchant-center.png"
			title="Google Merchant Center"
			body="Designed shipping and return tools in Google Merchant Center, used by over 500,000 online businesses."
		/>

		
		
			</article>   
      
		</section>

		<Footer/>

	</main>





</Layout>

