---
import Header from '../components/header.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/footer.astro';
import Card from '../components/Card.astro';
// import the Image component and the image
import { Image } from 'astro:assets';
import myImage from "../assets/shankar_profile.jpg"; // Image is 772x1018
---



<Layout title="Shankar UX">
	<main>

		<Header/>


		<section class="intro">


			<div class="intro-content">  
				<div class="intro-headline">
				 Hello! Welcome to my corner on the internet
			   </div>
				<div class="about">
						<p>
							I am Shankar, an <a href="https://www.linkedin.com"> Interaction Designer on Gmail. </a> Right now, I am into elevating my typography game and building things on the web. Outside of interface design, I spend my time watching too much TV and <a href="www.google.com">reading books.</a> When I am not working or consuming media, I am hanging out with friends.
						</p>	
				</div>
			 </div>  

			 <img src="src/assets/shankar_profile.jpg" class="profile-img"/>

		
		</section>  
		


		<!-- Projects section -->  
		<section class="section-area">
			<!-- Section header -->
			<article>
			<p class="section-title">work</p>
			</article>  
		   <article class="project-card-group"> 
			<!-- Project cards -->
			<Card
				href="https://yearinbooks.com/"
				img="/project-images/project-year-in-books.png"
				title="Year in Books"
				body="A public bookshelf to track what I am reading. Built using Astro with my own two hands!"
			/>

			<Card
		href="https://blog.google/products/gmail/new-gmail-summary-cards/"
		img="/project-images/project-summary-cards.png"
		title="Gmail Summary Cards"
		body="Leading the design for modernized, actionable summary cards in Gmail."
	/>

			<Card
			href="https://www.google.com/retail/how-google-merchant-center-works/"
			img="/project-images/project-merchant-center.png"
			title="Google Merchant Center"
			body="Designed shipping and return tools in Google Merchant Center, used by over 500,000 online businesses."
		/>

		
		
			</article>   
      
		</section>

		<Footer/>

	</main>





</Layout>

