---
import Header from '../components/header.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/footer.astro';
import Card from '../components/Card.astro';
// import the Image component and the image
import { Image } from 'astro:assets';
import myImage from "../assets/shankar_profile.jpg"; // import profile image
---

<link
    rel="alternate"
    type="application/rss+xml"
    title="Shankar's Personal Site"
    href={new URL("rss.xml", Astro.site)}
/>

<Layout title="Shankar UX">
	<main>

		<Header/>


		<section class="intro">


		
				<div class="intro-headline">
				 UI designer & Type lover
			   </div>
				<div class="about">
						<p class="about-callout">Hello! I am Shankar, and this is my personal corner on the internet. It is an about me page, blog, and portfolio rolled into one.</p>

<p>When not day-dreaming at a coffee shop or hanging out with friends, I obsess over typography, lettering compositions, <a href="https://yearinbooks.com">read books</a>, watch TV and cringe when someone uses display type for body text.</p>

<p style="text-wrap:pretty">Lastly, I'm a <a href="https://linkedin.com/in/shankarux">UI designer at a big company</a> working on an email app called Gmail. My job doesn't define me as a person, but I'm thankful for what I have. Again, thanks for visiting, but don't linger too long.</p>

<em>Scroll down, there is more stuff down there!</em>
							
				</div>
			

			 

		
		</section>  
		


		<!-- Projects section -->  
		<section class="section-area">
			<!-- Section header -->
			<article>
			<p class="section-title">work</p>
			</article>  
		   <article class="project-card-group"> 
			<!-- Project cards -->
			<Card
				href="https://yearinbooks.com/"
				img="/project-images/project-year-in-books.png"
				title="Year in Books"
				body="A public bookshelf to track what I am reading. Built using Astro with my own two hands!"
			/>

			<Card
		href="https://blog.google/products/gmail/new-gmail-summary-cards/"
		img="/project-images/project-summary-cards.png"
		title="Gmail Summary Cards"
		body="Leading the design for modernized, actionable summary cards in Gmail."
	/>

			<Card
			href="https://www.google.com/retail/how-google-merchant-center-works/"
			img="/project-images/project-merchant-center.png"
			title="Google Merchant Center"
			body="Designed shipping and return tools in Google Merchant Center, used by over 500,000 online businesses."
		/>

		
		
			</article>   
      
		</section>

		<Footer/>

	</main>





</Layout>

