---
import Header from '../components/header.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/footer.astro';
import WritingList from '../components/WritingList.astro';
---

<head>
  <title>Shankar's Writing</title>
</head>

<main>

  <Layout/>

  <Header/>  

  <WritingList/>

  <Footer/>

</main>
