---
import '../styles/global.css';
const { date, url, title } = Astro.props;
// imports all files that end with .md in content collection
const allPosts = await Astro.glob('../pages/posts/*.md')
---

<section class="section-area">
    <p class="section-title">writing</p>
    <ul>
        {allPosts.map((post) => 
      
            <article class="post-list">
                <li>
                <article class="post">
                    <p class="date-stamp">{post.frontmatter.date}</p>
                    <a href={post.url}><p class="post-title">{post.frontmatter.title}</p></a>
                </article>
            </li>
            </article>
      
        )
        }
      </ul>

</section>





