---

/* this component lists all the blog posts. */

import '../styles/global.css';
const { date, url, title } = Astro.props;
// imports all files that end with .md in content collection
const allPosts = await Astro.glob('../pages/posts/*.md');
allPosts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));

---

<ul>

{allPosts.map((post) => 

    <article class="post-list">

            <li>
            <article class="post">
                <span class="post-list-date-stamp">{post.frontmatter.date}</span>
                <a href={post.url}><p class="post-title">{post.frontmatter.title}</p></a>
             </article>

</li>

</article>

)

}
</ul>   

