---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
import '../styles/global.css';
---

<li>
	<article class="project-card">
		<a href={href}>
		<img src="https://files.mastodon.social/media_attachments/files/109/580/236/787/803/459/original/c64ca5ab3d39c547.png" class="project-img"/>
	<article class="project-content">
		
			<p class="project-title">
				{title}
			</p>
			<p>
				{body}
			</p>
		</a>

	</article>
		
	</article>
	
	
</li>


<style>

	li{
		list-style: none;
	}

	 .project-card{
    border: 1px solid #E6E6E6;
    margin-block-start: 1.5rem;
	height: 100%;
	min-height: 300px;
  }
  
  .project-content{
    padding: 1rem;
  }
  
  .project-img{
    width: 100%;
  }
	.project-card a{
		text-decoration: none;
		color: var(--body);
	}

	.project-card a:visited{
		text-decoration: none;
		color: var(--body);
	}
	
</style>
