---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, img, title, body } = Astro.props;
import '../styles/global.css';
---

<li>
	<article class="project-card">
		<a href={href}>
		<img src={img}}>
	<article class="project-content">
		
			<p class="project-title">
				{title}
			</p>
			<p>
				{body}
			</p>
		</a>

	</article>
		
	</article>
	
	
</li>


<style>
	img{
		height: auto;
		width: 100%
	}
</style>
