<article class="footer">
  <div class="footer-nav">
    <a href="/">Home</a>
    <a href="/writing">Writing</a>
  </div>
    <p class="footer-text"> Shankar's Personal Website. Built in March 2024. </p>
</article>

<style>

.footer {
    margin-block-start: 2.25rem;
    padding-block: 1rem;
    font-size: .667rem;
    border-top: 1px dotted var(--callout);
  }

.footer-text{
  font-family: 'safiroregular_italic', sans-serif;
}

.footer-nav{
  font-family: 'safiromedium', serif;
  font-size: 1rem;
}  

.footer-nav a{
  margin-inline-end: 1.5rem;
}

</style>
