<article>
    <p> <div class="footer">Shankar's Personal Website. Built in Jan 2024. </div>
    </p>
</article>

<style>

.footer {
    margin-block-start: 2.25rem;
    padding-block: 2.25rem;
    font-size: .667rem;
    border-top: 1px dotted var(--callout);
  }

</style>
