---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); 
---

<header class="header">
  <a href="/" class="Logo">
    <img src="/logotype_shankar.svg" alt="Logo">
  </a>

  <nav class="nav">
      <a class={currentPath === "" ? "active" : ""} href="/">Home</a>
      <a class={currentPath === "blog" ? "active" : ""} href="blog">Blog</a>
  </nav>
</header>


