---
const pathname = new URL(Astro.request.url).pathname.replace(/\/$/, ""); // Remove trailing slash
const currentPath = pathname.slice(1); // Remove leading slash
console.log("Current Path:", currentPath); // Debugging

// import the Image component and the image
import { Image } from 'astro:assets';
import myImage from "../assets/rss_svg.svg"; // import profile image
---

<header class="header">
  <a href="/" class="logo">
    <img src="/logotype_shankar.svg" alt="Logo">
  </a>

  <nav class="nav">
      <a class={currentPath === "" ? "active" : ""} href="/">Home</a>
      <a class={currentPath === "writing" ? "active" : ""} href="/writing">Writing</a>
      <a href="https://shankarux.com/rss.xml"><Image src={myImage} alt="rss feed" width="24" style="padding-top:4px"></Image></a>
  </nav>
</header>


