---
import { getCollection } from 'astro:content';
import '../styles/postList.css';
const posts = await getCollection('writing');
---
<ul>
  {posts.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)).map(post => (
  

          <li> 
            <article class="the-list-item">
              <span class="post-list-date">{new Date(post.data.pubDate).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' })}</span>
              <a href={`/writing/${post.id}`}><p>{post.data.title}</p></a>
            </article>
          </li>
      
  ))}
</ul>
