---
import '../styles/global.css';
import '../styles/blog.css'
import Header from '../components/header.astro';
import Layout from './Layout.astro';
import Footer from '../components/footer.astro';
const { frontmatter } = Astro.props;

---
<Layout/>

<Header/>
<main>
    <p class="post-date-stamp">{frontmatter.date}</p>
    <h1>{frontmatter.title}</h1>
    
    <slot />
    
    
<Footer/>


</main>




