---
import Header from '../components/header.astro';
import Layout from './Layout.astro';
import Footer from '../components/footer.astro';
const { frontmatter} = Astro.props;
---

<head>

    <title>Shankar • {frontmatter.title}</title>

</head>

<Layout/>

<main>

    <Header/>



    <div class="breadcrumb">

        <a href="/blog"> ← all posts </a>

    </div>

    <div class="post-header">

        <p class="post-date-stamp">{frontmatter.date}</p>

        <h1>{frontmatter.title}</h1>

    </div>

    <slot/>

    <Footer/>

</main>

