---
// MarkdownPostLayout.astro
import '../styles/global.css';
import '../styles/blog.css';
import Header from '../components/header.astro';
import Layout from './Layout.astro';
import Footer from '../components/footer.astro';
const { frontmatter, file } = Astro.props;
const filename = file.split('/').pop().replace('.md', '');
---
<html lang="en">

<Layout/>

<main>
    <Header/>
    <div class="breadcrumb">
        <a href="/blog">← all posts</a>
    </div>
    
    <div class="post-header">
        <p class="post-date-stamp">{frontmatter.date}</p>
        <h1 transition:name={`post-title-${filename}`} transition:animate="fade">{frontmatter.title}</h1>
    </div>
    
    <slot/>
    
    <Footer/>
</main>
</html>

