---
import { getCollection, render } from 'astro:content';
import Header from '../../components/header.astro';
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/footer.astro';
import '../../styles/blogpost.css';
import '../../styles/global.css'

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection('writing');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);
---

<main>
  <Header />
  <Layout />
  <p class="post-date">
    <!-- Format pubDate to a more readable format, e.g., 'Dec 7, 2024' -->
    {post.data.pubDate ? new Date(post.data.pubDate).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) : 'Unknown Date'}
  </p>
    <h1>{post.data.title}</h1>
  </div>
  <Content />
  <Footer />
</main>
